{% extends "base.html" %}

  {% block content %} 
          <!-- Content Goes here -->


<body align="center">


	<h1 style="color: #FFFFFF; margin-top: 40px; margin-bottom: 40px; " align="center"><b>ABOUT US</b></h1>


<div align="center" style="margin-bottom: 100px;">
<div class="card bg-light mb-3" style="max-width: 45rem; " >
  <img src="https://media.giphy.com/media/huvlSnGxC0rT2/giphy.gif" class="card-img-top" alt="...">
  <div class="card-body" >
    <p class="card-text"><b>Science is interconnected; no important question stands alone.  The Science Mission Directorate (SMD) is an organization where discoveries in one scientific discipline have a direct route to other areas of study.  This flow is something extremely valuable and is rare in the scientific world.Science is interconnected; no important question stands alone. The Science Mission Directorate (SMD) is an organization where discoveries in one scientific discipline have a direct route to other areas of study. This flow is something extremely valuable and is rare in the scientific world.</b></p>
  </div>
</div>
</div>

<!--sssssss-->

<div style="margin-bottom: 50px;">
	
	<div class="card-deck">
  <div class="card">
    <img src="https://smd-prod.s3.amazonaws.com/science-red/s3fs-public/styles/recommended_article_thumb/public/thumbnails/image/Freilich-6.jpeg?itok=ql-0Isu0" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><b>NASA earth science</b></h5>
      <a href="https://science.nasa.gov/news-articles/nasa-earth-science-director-announces-retirement">read more</a>
    </div>
  </div>

  <div class="card">
    <img src="https://smd-prod.s3.amazonaws.com/science-red/s3fs-public/styles/recommended_article_thumb/public/thumbnails/image/lunar_feature_header_pic.jpg?itok=3_HWiAJb" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><b>New NASA Position to Focus on Exploration of Moon, Mars and Worlds Beyond</b></h5>
     <a href="https://www.nasa.gov/feature/new-nasa-position-to-focus-on-exploration-of-moon-mars-and-worlds-beyond">read more</a>
    </div>
  </div>

  <div class="card">
    <img src="https://smd-prod.s3.amazonaws.com/science-red/s3fs-public/styles/recommended_article_thumb/public/mnt/medialibrary/2010/03/31/RoyMaizel.jpg?itok=ScHID9Re" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><b>NASA’s Roy Maizel Announces Retirement</b></h5>
      <a href="https://science.nasa.gov/news-article/deputy-associate-administrator-for-management-announces-retirement">read more</a>
    </div>
  </div>
</div>
</div>



</body>
            {% endblock content %}


           