{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h4 class="card-header" align="center"><b>NASA video</b></h4>
    <div class="card-body">
        <iframe title="NASA ScienceCasts: Cutting-edge Biomanufacturing Aboard the International Space Station" width="100%" height="200" src="//www.youtube.com/embed/s9csx38k8Zo" frameborder="0" allowfullscreen></iframe>
       


                  <h3 class="l-home__row-item-title" align="center" style="margin-top: 30px; >@Dr_ThomasZ</h3>
<div  style="margin-bottom: 20px;"><a class="twitter-timeline" data-chrome="noheader nofooter" data-dnt="true" data-height="300" data-width="400" href="https://twitter.com/Dr_ThomasZ">Tweets by Dr_ThomasZ</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

          
    </div>
</div>
</div>






{% endblock sidebar %}

